*
{
     margin: 0px;
     padding: 0px;
     box-sizing: border-box;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body
{
     background-color: rgb(223, 219, 219);
}
section
{
     height: 500px;
     width: 1450px;
     margin: 38px;
     margin-top: 50px;
     border: 5px rgb(255, 255, 255) solid;
     border-radius: 20px;
     display: flex;
}

section div 
{
     width:610px;
}

.f
{
     padding: 20px;
}


.welcome
{
     width: 50%;
     border-radius: 15px;
     background-color: darkslateblue;
}
.login
{
     position: relative;
     width: 50%;
}
.login div{
     /* border: 1px solid gray; */
     height: 200px;
     width: 250px;
     margin: 165px;
     padding: 0px;
}

h1
{
     font-size: 25px;
     margin-left: 50px;
     margin-top: 161px;
   
}
h2
{
     margin-left: 50px;
     margin-top: 2px;
   
}
button
{
     margin-top: 10px;
     margin-left: 50px;
     background-color: red;
     color: white;
     border: none;
     border-radius: 5px;
     padding: 5px;
     width: 80px;
}
.signupandlogin{
    display: flex;
    top: 86px;
    left: 200px;
     position: absolute;
     border: none;
     font-size: 8px;
}
.login .signupandlogin h2
{
     margin: 6px;
     padding: -1px;
     border: 1px 1px 0px 1px solid gray;
     
}

.login div {
     padding: 25px;

}

.login div  h4 {
     margin: 4px;
}

.login div  h2{
     border: gray 1px solid;
}
.Forgot
{
color: red;
margin-left: 80px;
}
img{
     height: 100px;width: 250px;
     left: 430px;
     top: 391px;
     border-radius: 0px 0px 20p 0px;
     position: absolute;

}
input
{
     width: max-content;
}
