*{
     box-sizing: border-box;
     margin: 0px;
     padding: 0px;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
     background-color: rgb(239, 236, 236);
}
.div1 , .div2{
     height:  700px;
     width: 50%;
}
.div1{
     padding-top: 22%;
     padding-left: 3%;
     border-radius: 5% 0% 0% 5%;
     background-color:rgba(81, 59, 252, 0.879);
}
.div2{
     position: relative;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     border-radius:  0% 5% 5% 0%;
     background-color: #f7f7f7;
     scale: 2;
     max-width: 500px;
}
.div1 h1{
     color: white;
}
.div4{
     padding: 2%;
     border: gray solid 1px;
}
section{
     overflow: hidden;
     margin: 3.5%;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     border-radius: 10px;
     border: white 4px solid;
     border-radius: 40px;
}
.h11{
     font-size: 38px;
}
.h12{
     font-size: 25px;
     word-spacing: 5px;   
}
.button1{
     background-color: red;
     padding: 1%;
     border:none;
     margin-top: 5px;
     border-radius: 6px;
     color: white;
     font-weight: bold;
     width: 12%;
}
.label1 , .label2{
border-bottom: none;
}
.label1 {
     border-bottom: none;
     border: gray 1px solid;
     border-radius: 5px;
}
.label2{
     border-left:none;
}
.div4{
     position: absolute;
     left:24% ;
     top: 39%;
}
.div3{
     position: absolute;
     left:34% ;
     top: 36.5%;
}
.one ,.two{
     width: 100%;
     
}
.three
{
   /* text-align:; */
   margin-left: 35px;
}


h4{
     font-weight: normal;
}
.button2{
     background-color: red;
     margin-left: 70px;
     border-style: none;
     width: 50px;
     color: white;

}
.four
 {
     margin-left: 710px;
 }
